body {
  align-items: center;
  background: #272a37;
  display: flex;
  flex-direction: column;
  padding: 89px 0 62px;
  text-align: center;
}

h1 {
  color: white;
  font-family: Roboto , sans-serif;
  font-size: 65px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 59px;
}

.title {
  color: #3187e7;
  font-family: Roboto , sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.new-pw-btn {
  background: #3590f5;
  border: 0;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  flex-shrink: 0;
  font-family: Roboto , sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  height: 55px;
  line-height: normal;
  margin-bottom: 58px;
  width: 256px;
}

.no-passwords {
  color: #838383;
  font-family: Roboto , sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 21px;
  margin-top: 160px;
}

.locker-img {
  background-image: url('./images/locker-img.svg');
}

form {
  background: #1e2029;
  border-radius: 10px;
  display: flex;
  flex-shrink: 0;
  justify-content: space-around;
  margin-bottom: 71px;
  padding: 30px;
  width: 897px;
}

.form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 525px;
}

.form-container input {
  background: #3b3f50;
  border: 0;
  border-radius: 10px;
  color: white;
  flex-shrink: 0;
  height: 53px;
  padding-left: 10px;
  width: 523px;
}

label, .mandatory-message {
  color: #8d8d8d;
  font-family: Roboto , sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mandatory-message {
  margin-top: 20px;
}

.input-container {
  align-items: start;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.login-password-container {
  display: flex;
  justify-content: space-between;
  width: 535px;
}

.login-password-container input {
  width: 236px;
}

.password-container {
  align-items: center;
  background-color: #3b3f50;
  border: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 53px;
  justify-content: space-between;
  padding: 0 10px 0 0;
  width: 251px;
}

.password-container input {
  background-color: #3b3f50;
  height: 45px;
  width: 195px;
}

.hide-btn {
  background-color: #3b3f50;
  background-image: url('./images/eye-closed.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  cursor: pointer;
  flex-shrink: 0;
  height: 26px;
  margin-top: 10px;
  width: 35px;
}

.show-btn {
  background-color: #3b3f50;
  background-image: url('./images/eye-open.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  cursor: pointer;
  flex-shrink: 0;
  height: 26px;
  margin-top: 10px;
  width: 35px;
}

.mandatory {
  color: #d11d1d;
  font-family: Roboto , sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 5px;
}

.btn-container {
  display: flex;
  flex-direction: row;
}

.cancel-btn {
  background: #1e2029;
  border: 0;
  border-radius: 100px;
  color: #3590f5;
  cursor: pointer;
  flex-shrink: 0;
  font-family: Roboto , sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  height: 55px;
  line-height: normal;
  text-align: left;
  width: 256px;
}

.submit-btn {
  background: #3590f5;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  flex-shrink: 0;
  font-family: Roboto , sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  height: 55px;
  line-height: normal;
  margin-bottom: 0;
  width: 211px;
}

.arrow-img {
  left: 20px;
  position: relative;
  top: 107px;
}

.pw-requirements {
  align-self: center;
  background: #252730;
  border-radius: 10px;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font-family: Roboto , sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 147px;
  justify-content: space-around;
  line-height: normal;
  position: relative;
  text-align: left;
  width: 263px;
}

.valid-password-check {
  color: #aeffb6;
}

.invalid-password-check {
  color: #f58989;
}

.checkbox-container {
  align-items: center;
  display: flex;
  justify-content: end;
  margin: 45px 0 47px;
  padding: 0;
}

.button {
  background-color: #9cbce0;
  border-radius: 50px;
  cursor: pointer;
  flex-shrink: 0;
  height: 20px;
  margin-left: 10px;
  position: relative;
  width: 40px;
}

.button:before {
  background-color: white;
  border-radius: 50px;
  content: '';
  flex-shrink: 0;
  height: 18px;
  margin: 1px;
  position: absolute;
  width: 18px;
}

/* stylelint-disable-next-line selector-max-specificity */
#check:checked + .button {
  background-color: #3590f5;
}

/* stylelint-disable-next-line selector-max-specificity */
#check:checked + .button:before {
  transform: translateX(-20px);
}

/* stylelint-disable-next-line selector-max-specificity */
#check {
  display: none;
}

.password-card {
  background: #323544;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 170px;
  justify-content: space-between;
  padding: 20px;
  width: 240px;
}

a {
  color: #3590f5;
  font-family: Roboto , sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 5px;
  text-align: right;
}

.info-container {
  display: flex;
  justify-content: space-between;
}

.remove-btn {
  align-self: self-end;
  background-color: #323544;
  background-image: url('./images/trash-img.svg');
  border: 0;
  flex-shrink: 0;
  height: 19px;
  width: 19px;
}

.label {
  color: #9cbce0;
  font-family: Roboto , sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.info {
  color: #e9e9e9;
  font-family: Roboto , sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: right;
}

.list-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
